<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/phone.css" media="screen and (min-width: 140px) and (max-width: 380px)">
    <link rel="stylesheet" href="../css/tablet.css" media="screen and (min-width: 381px) and (max-width: 1024px)">
    <link rel="stylesheet" href="../css/awards.css">
    <title>Awards</title>
</head>
<body>
<nav class="mainNavigation">
    <ul>
        <li><a href="../views/join.html">Join</a></li>
        <li><a href="../views/shop.html">Shop</a></li>
        <li><a href="../views/events.html">Events</a></li>
        <li><a href="../views/history.html">History</a></li>
        <li><a href="../views/contact.html">Contact</a></li>
        <li><a href="../views/tutorials.html">Tutorials</a></li>
        <li><a href="../views/awards.html">Awards</a></li>
        <li><a href="../index.html">Home</a></li>
    </ul>
</nav>
<div class="content">
    <picture>
        <source media="(min-width: 650px)" srcset="../img/BoizKlubLogo.png">
        <source media="(min-width: 465px)" srcset="../img/BoizKlubLogo_sm.png">
        <img class="logo" src="../img/BoizKlubLogo.png" alt="Boiz Klub">
    </picture>
    <picture>
        <source media="(min-width: 650px)" srcset="../img/award.png">
        <source media="(min-width: 465px)" srcset="../img/award_sm.png">
        <img class="splash" src="../img/award.png" alt="Splash">
    </picture>
</div>
<div class="awards">
    <div class="award">
        <h3>2017</h3>
        <p>
             Charity Pie Eating Champion Russel Stevens
        </p>
    </div>
    <div class="award">
        <h3>2017, 2016, 2014</h3>
        <p>
             Podunk Goat Cookoff Champions Russel Stevens, Donna Knoble
        </p>
    </div>
    <div class="award">
        <h3>2017</h3>
        <p>
            Participant Podunk Team Fun Run: Will Jones, Russel Stevens, Kat Aiken
        </p>
    </div>
</div>
<script src="../js/vendor/modernizr-3.5.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>
</body>
</html>

