<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/phone.css" media="screen and (min-width: 140px) and (max-width: 380px)">
    <link rel="stylesheet" href="../css/tablet.css" media="screen and (min-width: 381px) and (max-width: 1024px)">
    <title>Video Tutorial</title>
</head>
<body>
<nav class="mainNavigation">
    <ul>
        <li><a href="../views/join.html">Join</a></li>
        <li><a href="../views/shop.html">Shop</a></li>
        <li><a href="../views/events.html">Events</a></li>
        <li><a href="../views/history.html">History</a></li>
        <li><a href="../views/contact.html">Contact</a></li>
        <li><a href="../views/tutorials.html">Tutorials</a></li>
        <li><a href="../views/awards.html">Awards</a></li>
        <li><a href="../index.html">Home</a></li>
    </ul>
</nav>
<div class="content">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Contact</span>
            <p>
                Email
                <a href="mailto:boizklubisnotreal@fake.com?Subject=Hello%20again" target="_top">boizklubisnotreal@fake.com</a>
            </p>
            <p>
                Tel:
                <a href="tel:15555555555" target="_top">(555) 555-5555</a>
            </p>
            <address>
                Box 564, Podunk, MO<br>
                USA
            </address>
        </div>
    </div>
</div>
<script src="../js/vendor/modernizr-3.5.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>
</body>
</html>

